<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input size="50" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>