
<form action="<%= question_answers_path(question)%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <% if !parent.nil? %>
        <input type="hidden" name="answer[parent_id]" value="<%= parent.id %>">
    <% end %>

    <div>
        <textarea class="textarea" name="answer[content]" rows="6" cols="20"></textarea>
    </div>

    <input class="textarea" type="submit" value="submit">
</form>


